<mat-card>
  <mat-card-header>
    <mat-card-title>API Endpoints</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ul>
      <li>
        <a href="/api/language">/api/language</a>
        <p>
          Devuelve una lista con los idiomas disponibles.
        </p>
      </li>
      
      <li>
        <a href="/api/translate?from=es&to=en&q=hello%20world">/api/translate</a>
        <p>
          Traduce un texto determinado, usando los idiomas disponibles.
        </p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>