{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "target": "es2022",
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "transform": {
            "decoratorMetadata": true
        },
        "baseUrl": "./src",
        "paths": {
            "@entities/*": ["./entities/*"],
            "@server/*": ["./server/*"],
            "@tool/*": ["./tool/*"],
            "@/*": ["./*"]
        }
    },
    "sourceMaps": false
}